.p-tic-tac {
  margin-left: -210px;
  position: absolute;
  font-size: 900%;
  width: 410px;
  left: 50%;
}

.dots {
  display: inline-block;
  background: red;
  height: 100px;
  width: 100px;
  float: left;
  border: 10px solid #333;
}

.dots2 {
  display: inline-block;
  background: #333;
  height: 100px;
  width: 100px;
  float: right;
}

.guys {
  position: absolute;
  height: 100px;
  width: 350px;
  top: 200px;
  left: 50%;
  margin-left: -175px;
}

.td-tic-tac {
  border: 1px solid #333;
  height: 100px;
  width: 100px;
  border-style: solid;
  border-width: 15px;
  visibility: hidden;
}

.table-tic-tac {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 10%;
}

